{% extends 'base.html' %}

{% block title %}Question List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Question List</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Correct Answer</th>
                <th>Subject</th>
                <th>Category</th>
                <th>Date Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for id, question_and_correct_answer in questions_and_correct_answers.items %}
            <tr>
                <td>{{ question_and_correct_answer.question.question_text }}</td>
                {% comment %} <td>nah</td> {% endcomment %}
                <td>
                    {% if question_and_correct_answer.correct_answers %}
                            {% for correct_answer in question_and_correct_answer.correct_answers%}
                                <p>- {{ correct_answer }}</p> 
                            {% endfor%}
                        {% else %}
                        <div class="alert alert-danger" role="alert">
                            None!
                        </div>
                    {% endif %}
                </td>
                <td>
                    {% if question_and_correct_answer.question.subject %}
                        {{ question_and_correct_answer.question.subject }}
                    {% else %}
                        No Subject
                    {% endif %}
                </td>
                <td>
                    {% if question_and_correct_answer.question.category %}
                        {{ question_and_correct_answer.question.category }}
                    {% else %}
                        No Category
                    {% endif %}
                </td>
                <td>{{ question_and_correct_answer.question.created_at }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                          Actions
                        </button>
                        <div class="dropdown-menu">
                            <a href="{% url 'question:question_detail' question_and_correct_answer.question.pk %}" class="dropdown-item">View</a>
                            <a href="{% url 'question:question_edit' question_and_correct_answer.question.pk %}" class="btn btn-warning dropdown-item">Edit</a>
                            <a href="{% url 'question:answer_add' question_and_correct_answer.question.pk %}" class="btn btn-primary dropdown-item">Add Answer</a>
                            <a href="{% url 'question:question_delete' question_and_correct_answer.question.pk %}" class="btn btn-primary dropdown-item">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'question:question_add' %}" class="btn btn-success">Add New Question</a>
</div>
{% endblock %}