{% extends 'base.html' %}
{% load form_filters %}
{% block title %}{% if form.instance.pk %}Edit Course{% else %}Add New Course{% endif %}{% endblock %}

{% block content %}
<div class="container mt-4">
    {% load form_filters %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{ form.course_name.label_tag }}
                        {{ form.course_name|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        {{ form.description.label_tag }}
                        {{ form.description|add_class:"form-control" }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group mt-2">
                        Image (should be 16:9 ratio):
                        {{ form.image|add_class:"" }}
                    </div>

                    {% if form.instance and form.instance.image.url %}
                    <img id="imagePreview" src="{{ form.instance.image.url }}" alt="Image Preview" class="w-100 my-2" />

                    {% else %}
                    <img id="imagePreview" src="#" alt="Image Preview" class="w-100 my-2" style="display: none;" />

                    {% endif %}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>

        {% if form.instance.course_name %}
            <a href="{% url 'course:course_view' form.instance.pk %}" class="btn btn-secondary">Back</a>
        {% else %}
            <a href="{% url 'course:course_list' %}" class="btn btn-secondary">Back</a>
        {% endif %}
    </form>

    <script>
        document.querySelector('input[type="file"]').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.getElementById('imagePreview');
                    img.src = e.target.result;
                    img.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });
    </script>
</div>
{% endblock %}