{% extends 'base.html' %}
{% block title %}Course List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Course List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Created At</th>
                <th>Modified At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.course_name }}</td>
                <td>{{ course.description }}</td>
                <td>
                    <img src="{{ course.image.url }}" style="max-width: 18rem">
                </td>
                <td>{{ course.created_at }}</td>
                <td>{{ course.modified_at }}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                          ...
                        </a>
                      
                        <div class="dropdown-menu">
                          <a href="{% url 'course:course_edit' course.pk %}" class="dropdown-item">Edit</a>
                          <a href="{% url 'course:course_delete' course.pk %}" class="dropdown-item">Delete</a>
                        </div>
                      </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'course:course_add' %}" class="btn btn-primary">Add New Course</a>
</div>
{% endblock %}
