{% extends 'base.html' %}
{% load form_filters %}
{% block title %}{% if form.instance.pk %}Edit Course{% else %}Add New Course{% endif %}{% endblock %}

{% block content %}
<div class="container mt-4">

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.question_text.label_tag }}
            {{ form.question_text|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.question_type.label_tag }}
            {{ form.question_type|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.points.label_tag }}
            {{ form.points|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>

        <a href="{% url 'course:quiz_edit' course_pk quiz_pk %}" class="btn btn-secondary">Back</a>
    </form>
</div>
{% endblock %}