{% extends "main_course_view.html" %}

{% block title %}{{ course.course_name }} - {{ sub_module.title }}{% endblock %}

{% block left_content %}
    {% include "course_operations/learning_view.html" %}
{% endblock left_content %}

{% block right_content %}
    {% include "course_operations/list_course_content.html" %} 
{% endblock right_content %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('sub_module_{{sub_module.pk}}').scrollIntoView({ behavior: 'smooth' });
    });
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('quiz_{{quiz.pk}}').scrollIntoView({ behavior: 'smooth' });
    });
</script>
{% endblock scripts %}