{% extends 'base.html' %}

{% block title %}User List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>User List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Full Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                          ...
                        </a>
                      
                        <div class="dropdown-menu">
                          <a href="{% url 'user:user_detail' user.pk %}" class="dropdown-item">Details</a>
                          <a href="{% url 'user:user_edit' user.pk %}" class="dropdown-item">Edit</a>
                          <a href="{% url 'user:user_delete' user.pk %}" class="dropdown-item">Delete</a>
                        </div>
                      </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'user:user_add' %}" class="btn btn-primary">Add New User</a>
</div>
{% endblock %}
