{% extends "main_course_view.html" %}
{% load static %}

{% block title %}{{ course.course_name }} - {{ sub_course.title }}{{ quiz.quiz_title }}{% endblock %}

{% block left_content %}
{% include "quiz_operations/do_quiz.html" %}
{% endblock left_content %}

{% block right_content %}
{% include "quiz_operations/do_quiz_camera.html" %}
{% endblock right_content %}

{% block scripts %}
const attempt_id = "{{attempt_id}}";
<script src="{% static 'js/camera.js' %}"></script>
<script src="{% static 'js/event_logger.js' %}"></script>
{% endblock scripts %}