<video id="video" class="w-100 h-100" autoplay></video>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle button-menu w-100" type="button" data-toggle="dropdown"
        aria-expanded="false">
        Select Camera
    </button>
    <div class="dropdown-menu w-100">
    </div>
    <hr>
    <div id="time_start" time_start= "{{student_quiz_attempt.attempt_date|date:'Y-m-d H:i:s'}}"></div>
    <div id="time_limit" value="{{ quiz.time_limit }}">Time Limit: <span class='time'>{{ quiz.time_limit }}</span></div>
    <div id="timer">Time Left: 00:00:00</div>
</div>