{% extends 'base.html' %}

{% block title %}Training Program List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Training Program List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Description</th>
                <th>Actions</th>
                <th>Manage Subjects</th> <!-- Added column for managing subjects -->
            </tr>
        </thead>
        <tbody>
            {% for program in programs %}
            <tr>
                <td>{{ program.program_name }}</td>
                <td>{{ program.program_code }}</td>
                <td>{{ program.description }}</td>
                <td>
                    <a href="{% url 'training_program:training_program_edit' program.pk %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'training_program:training_program_delete' program.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
                <td>
                    <a href="{% url 'training_program:training_program_manage_subjects' program.pk %}" class="btn btn-info btn-sm">Manage Subjects</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'training_program:training_program_add' %}" class="btn btn-primary">Add New Training Program</a>
</div>
{% endblock %}
