{% extends 'base.html' %}
{% block title %}Course Detail{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="container mt-4">
        <div class="row">
            <div class="col-7">
                <h2>{{ course.course_name }}</h2>
                <p>{{ course.description}}</p>
                <hr>
                <p>
                    <div class="row">
                        <div class="col-8">
                            <p>
                                Created by: {{ course.}}
                                {% for full_name in created_by %}
                                    {{ full_name }}{% if created_by|length == forloop.counter %}.{% else %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p>
                                <i class="fa-solid fa-pen-nib"></i> Last Updated: {{ course.modified_at|date:"Y-m-d"}}
                            </p>
                        </div>
                        <div class="col-4">
                            {% if is_enrolled %}
                            <a href="" class="btn btn-primary w-100">Go to Course</a>
                            <a href="/" class="btn btn-secondary w-100 mt-1">Back</a>
                            {% else %}
                            <a href="{% url 'course:course_enroll' course.pk %}" class="btn btn-primary w-100">Enroll</a>
                            <a href="/" class="btn btn-secondary w-100 mt-1">Back</a>
                            {% endif %}
                        </div>
                    </div>
                    
                </p>
            </div>
            <div class="col-5">
                <img class="w-100" src="{{ course.image.url }}" alt="...">
            </div>
        </div>
    </div>
    <hr>
    <h4>Course content</h4>
</div>
{% endblock %}