{% if modules_and_quizzes.quizzes %}
<div class="accordion" id="accordion_quiz">
  <div class="card">
    <div class="card-header" id="quiz_heading_{{ sub_course.pk }}">
      <h2 class="mb-0">
        <button
          class="btn btn-link btn-block text-left {% if quiz.sub_course.id %}{% if sub_course.pk == quiz.sub_course.id %}collapsed{% endif %}{% endif %}"
          type="button" data-toggle="collapse" data-target="#quiz_collapse_{{ sub_course.pk }}"
          aria-expanded="{% if quiz.sub_course.id %}{% if sub_course.pk == quiz.sub_course.id %}true{% else %}false{% endif %}{% endif %}"
          aria-controls="quiz_collapse_{{ sub_course.pk }}">
          Quizzes
        </button>
      </h2>
    </div>
    <div id="quiz_collapse_{{ sub_course.pk }}"
      class="collapse {% if quiz.sub_course.id %}{% if sub_course.pk == quiz.sub_course.id %}show{% endif %}{% endif %}"
      aria-labelledby="quiz_heading_{{ sub_course.pk }}" data-parent="#accordion_quiz">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col-11">Quiz</th>
            </tr>
          </thead>
          <tbody>
            {% for quiz_looping in modules_and_quizzes.quizzes %}
            <tr>
              <td class="{% if quiz.pk %}{% if quiz.pk == quiz_looping.pk %}table-active{% endif %}{% endif %}" id="quiz_{{quiz_looping.id}}">
                <a href="{% url "course:short_link_quiz_preview" course.pk quiz_looping.pk %}">
                  {{ quiz_looping.order }}) {{ quiz_looping.quiz_title}}
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}
