{% for question_pk, question_data in questions.items %}
<div class="my-4">
    <strong>Question {{forloop.counter}}: </strong>{{ question_data.question_text }}
    <br>
    <strong>Point: </strong>{{ question_data.points }}
    <div class="px-4">
        <strong>Answer Options</strong>
        <div class="ml-2">
            {% for answer_option_pk, answer_option_data in question_data.answer_options.items %}

            {% if answer_option_data.is_selected and answer_option_data.is_correct %}
            <i class="fa-solid fa-square-check" style="color: green;"></i>
            {% elif answer_option_data.is_selected %}
            <i class="fa-solid fa-square-xmark" style="color: red;"></i>
            {% else %}
            <i class="fa-solid fa-border-none"></i>
            {% endif %}

            <input type="checkbox" name="answer_option_{{ question_pk }}" value="{{answer_option_pk}}"
                style="height: 1rem; width: 1rem" disabled {% if answer_option_data.is_selected %}checked{%endif%}>
            {{answer_option_data.option_text}}
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}