{% extends 'base.html' %}
{% load form_filters %}
{% block title %}{% if form.instance.pk %}Edit Course{% else %}Add New Course{% endif %}{% endblock %}

{% block content %}
<div class="container mt-4">
    {% load form_filters %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.quiz_title.label_tag }}
            {{ form.quiz_title|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.quiz_description.label_tag }}
            {{ form.quiz_description|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.total_mark.label_tag }}
            {{ form.total_mark|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.mark_to_pass.label_tag }}
            {{ form.mark_to_pass|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.time_limit.label_tag }}
            {{ form.time_limit|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        
        {% if quiz_pk %}
        <a href="{% url 'course:quiz_detail' course_pk sub_course_pk quiz_pk %}" class="btn btn-secondary">Back</a>
        {% else %}
            <a href="{% url 'course:sub_course_list' course_pk %}" class="btn btn-secondary">Back</a>
        {% endif %}
    </form>
</div>
{% endblock %}