{% extends 'base.html' %}
{% load form_filters %}
{% block title %}{{ form.instance.pk|yesno:"Edit Assignment,Assign Module to User" }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ form.instance.pk|yesno:"Edit Assignment,Assign Module to User" }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.user.label_tag }}
            {{ form.user|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.module.label_tag }}
            {{ form.module|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'user_module:user_module_list' %}" class="btn btn-secondary">Back to Assignments</a>
    </form>
</div>
{% endblock %}
