{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 90vh;">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4 d-flex flex-column" style="height: 90vh;">
            <div class="flex-grow-1" style="overflow-y: auto; overflow-x: hidden;">
                <div class="vh-100">
                    {% block left_content %}
                    {% endblock left_content %}
                </div>
            </div>
        </main>

        <nav class="col-md-3 d-none d-md-block sidebar" style="height: 90vh; overflow-y: auto;">
            <div class="sidebar-sticky">
                {% block right_content %}
                {% endblock right_content %}
            </div>
        </nav>
    </div>
</div>
{% block scripts %}
{% endblock scripts %}
{% endblock %}