{% extends 'base.html' %}
{% load form_filters %}
{% block title %}{% if form.instance.pk %}Edit Course Content{% else %}Add New Course Content{% endif %}{% endblock %}

{% block content %}
<div class="container mt-4">
    {% load form_filters %}

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.content_title.label_tag }}
            {{ form.content_title|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        
        <a href="{% url 'course:content_list' course_pk %}" class="btn btn-secondary">Back</a>

    </form>
</div>
{% endblock %}