{% extends 'base.html' %}
{% load form_filters %}

{% block title %}{{ form.instance.pk|yesno:"Edit User,Add New User" }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ form.instance.pk|yesno:"Edit User,Add New User" }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.full_name.label_tag }}
            {{ form.full_name|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.role.label_tag }}
            {{ form.role|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'user:user_list' %}" class="btn btn-secondary">Back to User List</a>
    </form>
</div>
{% endblock %}
