{% extends 'base.html' %}

{% block title %}Delete Subject{% endblock %}

{% block content %}
<div class="d-flex align-items-center" style="height:80vh">
    <div class="mx-auto">
        <h3>Confirm deletion of "<strong>{{ user.username }}</strong>"?</h3>
        <form method="post">
            {% csrf_token %}
            <div class="text-center">
                <div class="">
                    <button type="submit" class="btn btn-danger">Confirm</button>
                    <a href="{% url 'user:user_list' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
