<!-- templates/export_excel_to_json.html -->
{% extends 'base.html' %}
{% block title %}Export Excel to JSON{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Export Excel to JSON</h2>
   
    <!-- Form for uploading Excel file -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data" class="border p-4 rounded shadow-sm bg-light">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success btn-block mt-4">Upload and Convert</button>
            </form>
        </div>
    </div>

    {% if json_data %}
        <div class="mt-4">
            <h3>JSON Data</h3>
            <div style="max-height: 400px; overflow-y: auto; border: 1px solid #ddd; padding: 10px; background-color: #f8f9fa;">
                <pre>{{ json_data|safe }}</pre>
            </div>
            
            <!-- Button to go back to homepage -->
            <div class="text-right mb-4">
                <a href="{% url 'tools:download_json_file' %}?file_name={{ json_file_name }}" class="btn btn-primary mt-3">Download JSON</a>
                
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
