{% extends "main_course_view.html" %}
{% load static %}

{% block title %}{{ course.course_name }} - {{ quiz.quiz_title }}{% endblock %}

{% block left_content %}
    {% include "quiz_operations/quiz_preview.html" %}
{% endblock left_content %}

{% block right_content %}
    {% include "course_operations/list_course_content.html" %} 
{% endblock right_content %}

{% block scripts %}
<script src="{% static 'js/time_converter.js' %}"></script>
<script src="{% static 'js/go_to_seb.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('quiz_{{quiz.pk}}').scrollIntoView({ behavior: 'smooth' });
    });
</script>
{% endblock scripts %}