<div class="mx-auto pb-4" style="width: 90%;">
    <h3 class="mb-4">Quiz Information</h3>
    <div class="row">
        <div class="col">
            <p><strong>Title: </strong>{{ quiz.quiz_title }}</p>
            <p><strong>Description: </strong>{{ quiz.quiz_description }}</p>
          </div>
          <div class="col">
            <p><strong>Created by: </strong>{{ quiz.created_by.full_name }}</p>
            <p><strong>Created At: </strong>{{ quiz.created_at }}</p>
            <p><strong>Updated at: </strong>{{ quiz.updated_at }}</p>
          </div>
          <div class="col">
          <p><strong>Total Mark: </strong>{{ quiz.total_mark }}</p>
          <p><strong>Mark To Pass</strong>: {{ quiz.mark_to_pass }}</p>
          <p><strong>Number of Questions: </strong>{{ num_of_questions }}</p>
          <p><strong>Time Limit</strong>: <span class="time">{{ quiz.time_limit }}</span></p>
      </div>
    </div>
    <hr>
    {% if quiz.using_seb %}
      <div class="alert alert-warning" role="alert">
        Install <a href="https://safeexambrowser.org/download_en.html" target="_blank">Safe Exam Browser</a> before starting assignment!
      </div>
      <button id="start_assign_btn" sebLink="{% url "course:short_link_do_quiz" course.pk quiz.pk %}" class="btn btn-primary px-3 py-2">Open Seb</button>
    {% else %}
      <a href="{% url "course:short_link_do_quiz" course.pk quiz.pk %}" class="btn btn-primary px-3 py-2">Start Assignment</a>
    {% endif %}

    <h5 class="mt-4">Your Attempt</h5>
    <table class="table" style="width: 60%;">
        <thead>
          <tr>
            <th class="col-1">#</th>
            <th class="col-6">Date</th>
            <th class="col-1">Duration</th>
            <th class="col-2">Mark</th>
            <th class="col-2"></th>
          </tr>
        </thead>
        <tbody>
          {% for attempt in attempts %}
            <tr>
              <th scope="row" style="justify-content: center;">{{ forloop.revcounter }}</th>
              <td>{{ attempt.attempt_date }}</td>
              <td><span class="time">{{ attempt.duration }}</span></td>
              <td class="{% if attempt.score >= quiz.mark_to_pass %}bg-success{% else %}bg-danger{% endif %}">{{ attempt.score }}</td>
              <td><a href="{% url "course:short_link_attempted_quiz_preview" course.pk quiz.pk attempt.pk %}" >View</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>