{% extends 'base.html' %}
{% load form_filters %}
{% block title %}{{ form.instance.pk|yesno:"Edit Question Category,Add New Question Category" }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ form.instance.pk|yesno:"Edit Question Category,Add New Question Category" }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.category_name.label_tag }}
            {{ form.category_name|add_class:"form-control" }}
        </div>
        <div class="form-group">
            {{ form.subject.label_tag }}
            {{ form.subject|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'category:category_list' %}" class="btn btn-secondary">Back to Question Category List</a>
    </form>
</div>
{% endblock %}
